
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.material-symbols-outlined {
  /* You can set the size using 'font-size' */
  font-size: 30px;

  /* You can set the color using 'color' */
  color: #c7c5c5; /* Replace with your desired color code */
}

